.title {
  padding: 12px 0;
  font-weight: 300;
  color: #ffffff;
  background-color: rgb(38, 68, 94);
  width: 100%;
  text-align: center;
  input {
    background-color: rgb(38, 68, 94);
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
  }
  span {
    margin: 0 auto;
    display: block;
    width: 250px;
  }
}
